<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/styles.css">

    <nav class="navbar navbar-dark bg-dark">
      <p class="navbar-brand">DashBoard</p>
    </nav>
    <div class="wrapper">
      <nav id="sidebar">
        <ul class="list-unstyled components">
          <li class="active">
            <a href="/" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Home 1</a>
              </li>
              <li>
                <a href="#">Home 2</a>
              </li>
              <li>
                <a href="#">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/customers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customers</a>
            <ul class="collapse list-unstyled" id="customerMenu">
              <li>
                <a href="#">Add New Record</a>
              </li>
              <li>
                <a href="#">Update Record</a>
              </li>
              <li>
                <a href="#">Delete Record</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </head>

  <body>
    <div class="container">
