<!DOCTYPE html>
<html lang="en" dir="ltr">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> updated header.ejs with new side nav
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/styles.css">

    <nav class="navbar navbar-dark bg-dark">
      <p class="navbar-brand">DashBoard</p>
    </nav>
    <div class="wrapper">
      <nav id="sidebar">
        <ul class="list-unstyled components">
          <li class="active">
            <a href="/" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Home 1</a>
              </li>
              <li>
                <a href="#">Home 2</a>
              </li>
              <li>
                <a href="#">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/customers" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customers</a>
            <ul class="collapse list-unstyled" id="customerMenu">
              <li>
                <a href="#">Add New Record</a>
              </li>
              <li>
                <a href="#">Update Record</a>
              </li>
              <li>
                <a href="#">Delete Record</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </head>

  <body>
    <div class="container">
=======

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <script src="https://kit.fontawesome.com/84b8289beb.js"></script>

  <div class="vertical-nav bg-white" id="sidebar">

    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center">
        <img src="https://gamepedia.cursecdn.com/lolesports_gamepedia_en/7/77/G2_Esportslogo_square.png?version=e6d736ddebaeca36c64e0d73b92e932c" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">David Vicente</h4>
          <p class="font-weight-light text-muted mb-0"> Administrator</p>
        </div>
      </div>
    </div>

    <p class="text-muted font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

    <ul class="nav flex-column bg-white">
      <li class="nav-item">
        <a class="nav-link active text-dark font-italic" href="#">
          <i class="fas fa-home text-primary mr-3 fa-fw"></i>
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-dark font-italic" href="#">
          <i class="fas fa-user text-primary mr-3 fa-fw"></i>
          Profile
        </a>
      </li>

      <li class="nav-item">
        <div id="accordion">
          <a data-parent="#accordion" class="nav-link text-dark font-italic collapsible-link" role="button" data-toggle="collapse" href="#collapseCustomers" aria-expanded="false" aria-controls="collapseCustomers">
            <i class="fas fa-users text-primary mr-3 fa-fw"></i>
            Customers
          </a>

          <div id="collapseCustomers" class="collapse">
            <div class="ml-3">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link text-dark font-italic" href="#">
                    <i class="fas fa-user-plus text-primary mr-3 fa-fw"></i>
                    Add Customer
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark font-italic" href="#">
                    <i class="fas fa-user-edit text-primary mr-3 fa-fw"></i>
                    Edit Customer
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark font-italic" href="#">
                    <i class="fas fa-user-minus text-primary mr-3 fa-fw"></i>
                    Delete Customer
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link text-dark font-italic" href="#">
          <i class="far fa-id-card text-primary mr-3 fa-fw"></i>
          About
        </a>
      </li>
    </ul>

  </div>

</head>

<body>
  <div class="container">
>>>>>>> updated header.ejs with new side nav
