<%- include("partials/header"); %>

<<<<<<< HEAD

<h1>Hello WORLD</h1>
=======
<div class="homeContent" id="content">
  <h1>Home</h1>
  <div class="separator"></div>
</div>
>>>>>>> updated header.ejs with new side nav


<%- include("partials/footer"); %>
